/*by mschro67
last change: Jan 24 2026*/

body{
  color:#FFF;
  background-color:#000;

  font-family:'Courier Prime', monospace;
  text-align:justify;

  padding:0.5%;
  position:relative;
  z-index:1;
}


header{
  position:sticky;
  top:0px;
  z-index:2;
}
header,main section,nav{
  border:solid #FFF;
  background:transparent;
  backdrop-filter:blur(2.5px);

  padding:1%;
}
header,nav,footer{
  margin-bottom:1%;
  text-align: center;
}
footer{
  color:#777;
  background-color:transparent;
  backdrop-filter:blur(1.5px);
}


h1,h2{
  padding:5px;
  text-align: center;
}

a{
  color:#FFF;
  text-decoration-color:#FFF;
  font-weight:bold;
  display:inline;
}
a:hover{
  color:#0F0;
  text-decoration-color:#0F0;
}
a.normal{
  font-weight:normal;
}
a.footer{
  color:#777;
  font-weight:normal;
  text-decoration:dotted underline #777;
}
a.footer:hover{
  color:#777;
  font-weight:bold;
  text-decoration:underline #777;
}

.green,header h2,code{
  color:#0F0;
}
code{
  display:inline;
}

canvas{
  z-index:-1;
  position:fixed;
  margin:0px;
  padding:0px;
}

button,.button{
  color:#FFF;
  background-color:#000;

  border:solid 1px #FFF;

  font-family:'Courier Prime', monospace;
  text-align: center;

  margin:2px;
  cursor:pointer;
}
button,.button:hover{
  color:#0F0;
  border-color:#0F0;
}

input{
  color:#FFF;
  background-color:#000;

  border:solid 1px #FFF;
  text-align: center;
}
input:hover{
  border-color:#0F0;
  transform:scale(1.03)
}

select{
  color:#FFF;
  background-color:#000;

  border:solid 1px #FFF;
  text-align: center;
}
select:hover{
  border-color:#0F0;
  transform:scale(1.03)
}

progress.bar{
  border:solid #FFF;
  width:95%;
  height:20px;
  accent-color:#0F0;
  background-color: #000;
  text-align: center;
}
progress.bar::-webkit-progress-bar{
  background-color:#000;
}
progress.bar::-webkit-progress-value{
  background-color:#0F0;
}
progress.bar::-moz-progress-bar{
  background-color:#0F0;
}

.bold{
  font-weight: bold;
}
.center{
  text-align: center;
}