/*by mschro67
last change: Jan 24 2026*/

*{
    text-align:center;
}

table {
    width: 100%;
    border:solid 2px black;
    text-align:center;
}
tr,th,td {
    text-align:center;
}
td{
    width:25%;
}

progress {
    width:100%;
    height:100%;
    border:none;
    appearance:none;
    -webkit-appearance:none;
}
progress::-webkit-progress-bar {
    background-color: #FFF;
}
progress::-moz-progress-bar {
    background-color:#FFF;
}

nav{
    position:fixed;
    top:2px;
    left:2px;
}

a button,input{
    width:75px;
}

button,input,select{
    height:25px;
}